.formArea {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 100px 0 100px;
}

.playerSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 48%;
}

.playerName {
  font-size: 1.3em;
}

.playerInputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.playerInput {
  width: 100%;
  margin-top: 10px;
}