@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
  margin: 0;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

@media (min-width: 769px) {
  
  .mobile {
    display: none !important;
  }

}

@media (max-width: 768px) {
  
  .desktop {
    display: none !important;
  }

}

.pageTitle {
  font-size: 2em;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 10px 0;
}