@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
    margin: 0;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

@media (min-width: 769px) {
    .mobile {
        display: none !important;
    }

    .mobileFlex {
        display: flex;
        flex-direction: row;
    }
}

@media (max-width: 768px) {
    .desktop {
        display: none !important;
    }

    .mobileFlex {
        display: flex;
        flex-direction: column;
    }
}

.pageTitle {
    font-size: 2em;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
}

.content {
    padding: 10px 15px 0 15px;
}
