.googleBtn {
  width: 190px;
  height: 36px;
  background-color: #202124;
  position: absolute;
  right: 7px;
  top: 7px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.iconCont {
  width: 32px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.iconBack {
  border-radius: 3px 0 0 3px;
  width: 32px;
  height: 32px;
  background-color: #ffffff;
}

.textCont { 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 0.9em;
  margin: 0 15px 0 15px;
}

.svg {
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  left: -2px;
  top: -2px;
}